*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (width >= 600px) {
    li{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (width < 600px) {
    li{
        display: flex;
        flex-direction: row;
    }
}
