
div{
    width: 100px;
    height: 100px;
    background-color: rgb(33, 235, 19);
    animation-name: Colorc;
    animation-duration: 2s;
    transition: all 0.4 ease;
}
@keyframes Colorc {
    from{
        background-color: aliceblue;
        border-radius: 20px;
        transform: translate(20px,20px);
    }
    to{
        background-color: bisque;
    }
}
