*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
button{
    display: block;
    width: 100px;
    height: 50px;
    border-radius: 3px;
    background-color: aliceblue;
    text-align: center;
}
.container>img{
    width: 300px;
    height: 300px;
    display: none;
}
button:hover + img{
    display: block;
    width: 0px;
    transition-duration: 0.5s;
    
}
button:hover{
    background-color: blueviolet;
}